:root {
  --F3F4F6: #F3F4F6;
  --9CA3AF: #9CA3AF;
  --3692FF: #3692FF;
  --E6F2FF: #E6F2FF;
  --1F2937: #1F2937;
  --FFFFFF: #FFFFFF;
  --374151: #374151;
  --CFE5FF: #CFE5FF;
  --FCFCFC: #FCFCFC;
  --111827: #111827;
}