@import "colorpal.css";

* {
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
}
a, button {
  cursor:pointer;
  text-decoration: none;
  color: var(--FFFFFF);
}

/***** 헤더 *****/
header {
  width: 100%;
  background-color: var(--FFFFFF);
  position: sticky;
  top: 0;
}
.header-wrapper {
  max-width: 1120px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.login-button button{
  border: none;
  border-radius: 8px;
  padding: 12px 23px;
  background-color: var(--3692FF);
  color: var(--FFFFFF);
  font-size: 16px;
  font-weight: 600;
}


/***** 메인 *****/
.banner {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: var(--374151);
  background-color: var(--CFE5FF);

  width: 100%;
}
.banner img {
  display: block;
}
.banner-wrapper {
  max-width: 1110px;
  height: 540px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.banner .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top:15%
}
.banner .content-button button{
  border: none;
  background-color: var(--3692FF);
  color: var(--FFFFFF);
  border-radius: 40px;
  padding: 16px 124px;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin-top: 32px;
}
.banner .img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.introduce {
  width: 100%;
}
.introduce-wrapper {
  max-width: 1110px;
  height: 720px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.introduce .content {
  background-color: var(--FCFCFCL);
}

.search p{
  text-align: right;
}

.intro-text-top {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: var(--3692FF);
}
.intro-text-middle {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: var(--374151);
  margin-top: 12px;
}
.intro-text-bottom {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: var(--374151);
  margin-top: 24px;
}

/***** 푸터 *****/
footer {
  width: 100%;
  background-color: var(--111827);
  color: var(--FFFFFF);
}

.footer-wrapper {
  max-width: 1520px;
  height: 160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}
.footer-list {
  list-style: none;
  display: flex;
}
.terms-list {
  gap: 30px;
}
.sns-list {
  gap: 12px;
}